@import url("https://fonts.googleapis.com/css2?family=Capriola&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Capriola, sans-serif;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 98vh;
  width: 100%;
  background-color: #1c2439;
  color: white;
  font-family: Capriola, sans-serif;
}

img {
  width: 40%;
}